body {
    background-image: url(https://www.otempo.com.br/content/dam/otempo/editorias/sports/futebol-nacional/corinthians/2025/2/corinthians-enfrenta-maior-desafio-antes-da-libertadores-em-busca-de-afirmacao.jpeg);
    background-size: cover;
    
}
div {
border:2px solid black;
    padding: 5px;
    width: 300px;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif ;
    border-radius: 20px;
    background-image: url(https://st.depositphotos.com/2101611/4693/i/450/depositphotos_46939409-stock-photo-white-gray-gradient-abstract-background.jpg);
}

header {
    background-color: white;
    width: 310px;
    border-radius: 20px;
    padding: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://st.depositphotos.com/2101611/4693/i/450/depositphotos_46939409-stock-photo-white-gray-gradient-abstract-background.jpg);
    background-size: cover;
}